body {
  background-color: lightgray;
  margin:0;
}

.hero {
  display: flex;
  height: 70vh;
  background-image: url("images/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.heading-container {
  flex-basis: 35vw;
  margin-top: 20vh;
  margin-left: 10vw;
}
