body {
  background-color: lightgray;
}

.header {
  background-color: white;
  display: flex;
  padding: 20px 30px 20px 30px;
}

.logo {
  flex: 2;
}

.navbar {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-link {
  flex:1;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color: gray;
}
